.navbar {
    background: coral;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    max-width: 100%;
}

.navbar-logo {
    color: rgba(44, 19, 19, 0.603);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.1s;
    /* display: flex;
    align-items: center; */
}

.navbar-logo:hover {
    color: black;
    font-size: 2.1rem;
}

.fa-bus {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    border: 3px solid rgba(44, 19, 19, 0.603);
    padding: 0.5rem;
    border-radius: 50%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: flex-end;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0;
    height: inherit;
    transition: all 0.1s;
    margin-bottom: 0px;
}

.nav-links:hover {
    font-size: 110%;
}


/* .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.5s ease-out;
} */

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        height: 90vh;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: coral;
        left: 0;
        text-align: center;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        width: 40%;
    }
    .nav-item {
        height: 60px;
    }
    .nav-links {
        text-align: center;
        padding: 10px;
        width: 20vw;
        display: table;
        height: 40px;
        left: 0;
    }
    .nav-links:hover {
        background-color: rgb(234, 249, 253);
        color: #242424;
        border-radius: 4px;
        height: 40px;
        width: 20vw;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    /* .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    } */
    /* .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    } */
}