/* we have used this file as css for all empty/additional components*/

.blankpage {
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: 600px;
    width: 100%;
    background-image: -webkit-linear-gradient(50deg, #FAF9B2 50%, #F5E8B9 50%);
    text-align: center;
}

.blankpage p:nth-child(1) {
    margin: auto;
    width: max-content;
    height: max-content;
    background-color: rgba(107, 180, 107, 0.466);
    text-align: center;
    font-size: 25px;
    animation: showanim1 8s ease-in infinite alternate;
    padding: 20px;
    width: 20vw;
    color: teal;
}

.blankpage p:nth-child(2) {
    margin: auto;
    width: max-content;
    height: max-content;
    background-color: yellowgreen;
    text-align: center;
    font-size: 25px;
    animation: showanim2 8s ease-out infinite alternate;
    padding: 20px;
    width: 20vw;
    color: black;
}

.blankpage div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.blankpage .goto-link {
    font-size: 25px;
    text-decoration: none;
    color: rgba(137, 43, 226, 0.596);
    border: 1px solid rgba(0, 128, 128, 0.507);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    background-color: rgba(245, 222, 179, 0.733);
}

.blankpage .goto-link:hover {
    color: white;
    background-color: transparent;
}